input {
  tcp {
    port => 5000
    codec => json_lines
  }
{% for queue in queue_list %}
  rabbitmq {
    durable => true
    exchange => '{{ queue }}'
    host => '{{ rabbitmq_host }}'
    password => '{{ rabbitmq_password}}'
    queue => '{{ queue }}'
    user => '{{ rabbitmq_user }}'
    vhost => '/{{ queue }}'
{% if queue == "zeroimpact" %}
    codec => 'json'
{% else %}
    codec => 'json_lines'
{% endif %}
    add_field => ['@type','{{ queue }}-rabbitmq-input']
  }
{% endfor %}
}

## Add filters here


output {
  elasticsearch {
    hosts => "elasticsearch:9200"
  }
  stdout { }
}