input {
{% for logstash_input in logstash_inputs %}
  {{ logstash_input.input_type }} {
    port => {{ logstash_input.port }}
    codec => {{ logstash_input.codec }}
   }
{% endfor %}
}

## Add filters here


output {
  elasticsearch {
    hosts => "{{ elasticsearch_host }}:9200"
  }
  stdout { }
}
